@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{
  background-color: #152238;
  width: 100%;
  height: 100%;
}

h1{
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 50px;
  -webkit-text-stroke: 0.3vh #A8A9AD;
  text-transform: uppercase;
  color: #152238;
}

h1::before{
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  color: #755bea;
  -webkit-text-stroke: 0vh #A8A9AD;
  border-right: 2px #755bea;
  overflow: hidden;
  animation: animate 3s linear-infinite;
}

@keyframe animate{
  0%, 10%, 100%{
    width: 0;
  }
  70%, 90%{
    width: 100%;
  }
}
